.heading h1
{
    color: white;
    margin-left: 35vw;
    margin-top: 10vw;
}

.features{
    display: flex;
    gap:5vw;
    margin-left: 8vw;
    margin-top: 25vh;
}

.f1, .f2 ,.f3{
    border-radius: 10px;
    width: 25vw;
    height: 32vh;
}

.f1{
    border:2px solid greenyellow;
    background-color: rgba(135, 250, 135, 0.536);  
}

.f2{
    border:2px solid rgb(230, 127, 253);
    background-color: rgba(177, 24, 160, 0.819);
}

.f3{
    border:2px solid yellow;
    background-color: rgba(167, 169, 40, 0.536);
}

.f1 h3, .f2 h3, .f3 h3{
    margin-top: 16vh;
    margin-left: 2vw;
    font-size: 25px;
}

.f1 h3{
    color: rgb(25, 43, 1);
}

.f2 h3{
    color: rgb(84, 0, 55);
}

.f3 h3{
    color: rgb(54, 54, 0);
}

.f1 p, .f2 p, .f3 p {
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 16px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 90%;
}

.f1 p {
    color: rgb(25, 43, 1);
}

.f2 p {
    color: rgb(255, 255, 255);
}

.f3 p {
    color: rgb(54, 54, 0);
}

.f1:hover p, .f2:hover p, .f3:hover p {
    opacity: 1;
}

.f1:hover, .f2:hover, .f3:hover {
    transform: scale(1.05);
}

.waitlist{
    margin-top: 80vh;
    margin-left: 4vw;
}

.detailContainer{
    margin-top:22vh;
    margin-left: 10vw;
    width:60vw;
}

.header h1, .detail p, .know{
color: white;
}

.header{
    font-size: 28px;
    margin-left: 3vh;

}

.detail{
    font-size: 19px;
    justify-content:left;
    margin-top: 15vh;
    margin-left: 30vw;
    width:45vw;
    justify-content: center;
}

.know{
    display: flex;
    margin-top: 40vh;
    margin-left: 15vw;
    box-shadow: rgba(199, 199, 199, 0.25) 0px 54px 55px, 
    rgba(255, 255, 255, 0.12) 0px -12px 30px, 
    rgba(255, 255, 255, 0.12) 0px 4px 6px, 
    rgba(160, 160, 160, 0.17) 0px 12px 13px, 
    rgba(171, 170, 170, 0.09) 0px -3px 5px;
    width:50vw;
    height: 40vh;
    padding: 15px;

}

.know h1{
    font-size: 22px;
}

.know p{
    font-size:18px;
    width: 30vw;
}

.know img{
    width:40vw;
    height:70vh;
    overflow:hidden ;
    
}

